@tailwind base;
@tailwind components;
@tailwind utilities;

/* animation for hero */
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-zoom {
  animation: zoom 10s infinite;
}

/* transition effect to up */
@keyframes transition1 {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* transition effect to down */
@keyframes transition2 {
  0% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
  }
}

@layer utilities {
  .hero-height {
    height: calc(100vh - 104px);
  }

  .primary-btn span:first-child {
    transform: translateX(-101%);
    transition: transform 0.3s ease-in;
  }
  .primary-btn:hover span {
    transform: translateX(0);
  }

  .transition-up {
    animation: transition1 0.5s;
  }
  .transition-down {
    animation: transition2 0.5s;
  }
}
